﻿
@{
    ViewData["Title"] = "Create";
}


@if(ViewBag.Cuentas == null){
<h1>Saldo insuficiente</h1>  
}else { 
<h1>Create</h1>
<form action="/Pago/Create" method="post">
    <label>Cuenta: </label>
   
    <select name="idCuenta">
        @foreach (var x in ViewBag.Cuentas)
        {
            <option value="@x.idCuenta">@x.nombre - @x.categoria</option>
        }
    </select>
    <br />
    <label>Descripcion: </label>
    <input type="text" name="descripcion" />
    <br />
    <label>Monto: </label>
    <input type="text" name="monto" />
    <br />
    <button type="submit">Guardar</button>
</form>

}