﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>
        <a href="/Cuenta/Create">Crear cuenta nueva</a>
        <br />
        <a href="/Pago/Create">Crear nuevo pago</a>
        <br />

        <a href="/Ingreso/Create">Crear nuevo ingreso</a>
        <br />
        <a href="/Cuenta/ListarCuentas">Listar cuentas</a>
    </h1>
</div>
