﻿
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<form action="/Cuenta/Create" method="post">
    <label>Nombres: </label>
    <input type="text" name="nombre"/>
    <br />
    <label>Categoria: </label>
    <select name="categoria">
        <option value="propio">Propio</option>
        <option value="credito">Credito</option>
    </select>
    <br />
    <label>Saldo inicial</label>
    <input type="text" name="saldoInicial"/>
    <br />
    <button type="submit">Guardar</button>
</form>
