﻿
@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>
@if (ViewBag.Ingresos.Count == 0)
{
    <h1>No hay ingresos aun</h1>
}
else
{
    <h1>Ingresos</h1>
    <table>
        <thead>
            <tr>
                <th>Cantidad</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var x in ViewBag.Ingresos)
            {
                <tr>
                    <td style="color:green">+ @x.monto</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (ViewBag.Pagos.Count == 0)
{


    <h1>No hay retiros aun</h1>
}
else
{
    <h1>Pagos</h1>
    <table>
        <thead>
            <tr>
                <th>Cantidad</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var x in ViewBag.Pagos)
            {
                <tr>
                    <td style="color:red">- @x.monto</td>
                </tr>
            }
        </tbody>
    </table>
}

<h2>Saldo inicial: @ViewBag.CantidadInicial</h2>
<h2>Saldo disponible: @ViewBag.CantidadDisponible</h2>