﻿
@{
    ViewData["Title"] = "ListarCuentas";
}


@if (ViewBag.Cuentas.Count == 0)
{


    <h1>No hay movientos aun</h1>
}
else
{
    <h1>ListarCuentas</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Saldo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in ViewBag.Cuentas)
            {
                <tr>
                    <td>@x.nombre</td>
                    <td>@x.categoria</td>
                    <td>@x.saldoInicial</td>
                    <td>
                        <a href="/Cuenta/Detalles?idCuenta=@x.idCuenta">Detalles</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

